In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

### 加载数据

In [3]:
df_train = pd.read_csv('./new_data/train_set.csv')
df_test = pd.read_csv('./new_data/test_set.csv')

In [4]:
print(df_train.shape)
print(df_test.shape)

(102277, 4)
(102277, 3)

In [5]:
df_train.head(5)

,id,article,word_seg,class
0,0,7368 1252069 365865 755561 1044285 129532 1053...,816903 597526 520477 1179558 1033823 758724 63...,14
1,1,581131 165432 7368 957317 1197553 570900 33659...,90540 816903 441039 816903 569138 816903 10343...,3
2,2,7368 87936 40494 490286 856005 641588 145611 1...,816903 1012629 957974 1033823 328210 947200 65...,12
3,3,299237 760651 299237 887082 159592 556634 7489...,563568 1239563 680125 780219 782805 1033823 19...,13
4,4,7368 7368 7368 865510 7368 396966 995243 37685...,816903 816903 816903 139132 816903 312320 1103...,12

In [6]:
df_test.head(5)

,id,article,word_seg
0,0,7368 146447 316564 42610 55736 297797 93042 53...,816903 565958 726082 764656 335008 75094 20282...
1,1,985531 473628 1044285 1121849 206763 462208 11...,729468 520477 529032 101368 335130 520477 1113...
2,2,7368 7368 7368 7368 7368 7368 7368 7368 7368 7...,816903 816903 816903 816903 816903 816903 8169...
3,3,529819 1226459 856005 1177293 663773 272235 93...,231664 1033823 524850 330478 507199 520477 618...
4,4,42610 1252069 1077049 955883 1125260 1044285 2...,545370 379223 162767 520477 1194630 1197475 11...

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102277 entries, 0 to 102276
Data columns (total 4 columns):
id          102277 non-null int64
article     102277 non-null object
word_seg    102277 non-null object
class       102277 non-null int64
dtypes: int64(2), object(2)
memory usage: 3.1+ MB

In [8]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102277 entries, 0 to 102276
Data columns (total 3 columns):
id          102277 non-null int64
article     102277 non-null object
word_seg    102277 non-null object
dtypes: int64(1), object(2)
memory usage: 2.3+ MB

In [9]:
df_train['class'].describe()

count    102277.000000
mean         10.262356
std           5.370785
min           1.000000
25%           6.000000
50%          10.000000
75%          15.000000
max          19.000000
Name: class, dtype: float64

In [10]:
df_train['class'].value_counts()

3     8313
13    7907
9     7675
15    7511
18    7066
8     6972
6     6888
14    6740
19    5524
1     5375
12    5326
10    4963
4     3824
11    3571
16    3220
17    3094
7     3038
2     2901
5     2369
Name: class, dtype: int64

In [11]:
print(len(df_train['article'][0]))
print(len(df_train['word_seg'][0]))

7453
4484

In [12]:
df_train_y = df_train['class']
df_train_X = df_train.drop(['class'], axis=1)
print(df_train_y.head(5))
print(df_train_X.head(5))

0    14
1     3
2    12
3    13
4    12
Name: class, dtype: int64
   id                                            article  \
0   0  7368 1252069 365865 755561 1044285 129532 1053...
1   1  581131 165432 7368 957317 1197553 570900 33659...
2   2  7368 87936 40494 490286 856005 641588 145611 1...
3   3  299237 760651 299237 887082 159592 556634 7489...
4   4  7368 7368 7368 865510 7368 396966 995243 37685...

                                            word_seg
0  816903 597526 520477 1179558 1033823 758724 63...
1  90540 816903 441039 816903 569138 816903 10343...
2  816903 1012629 957974 1033823 328210 947200 65...
3  563568 1239563 680125 780219 782805 1033823 19...
4  816903 816903 816903 139132 816903 312320 1103...

In [13]:
df_train_X.head(5)

,id,article,word_seg
0,0,7368 1252069 365865 755561 1044285 129532 1053...,816903 597526 520477 1179558 1033823 758724 63...
1,1,581131 165432 7368 957317 1197553 570900 33659...,90540 816903 441039 816903 569138 816903 10343...
2,2,7368 87936 40494 490286 856005 641588 145611 1...,816903 1012629 957974 1033823 328210 947200 65...
3,3,299237 760651 299237 887082 159592 556634 7489...,563568 1239563 680125 780219 782805 1033823 19...
4,4,7368 7368 7368 865510 7368 396966 995243 37685...,816903 816903 816903 139132 816903 312320 1103...

### 使用 train_test_split 对训练数据进行切分

In [18]:
train_X, test_X, train_y, test_y = train_test_split(df_train_X, df_train_y, test_size=0.3, random_state=2019)

### TF-IDF
#### TF(t,d) 即term frequency, 表示term出现在document的频率
#### IDF(t) 即inverse document frequency，逆文档频率，用来衡量term普遍重要性的指标，也即独特性

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [20]:
vectorizer = TfidfVectorizer()
vectorizer.fit(train_X['word_seg'])

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.float64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words=None, strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [25]:
tfidf_matrix_train_X = vectorizer.transform(train_X['word_seg'])

In [28]:
tfidf_matrix_train_X.shape

(71593, 719738)

### word2vec
#### Skip-gram: 根据当前词语预测上下文词语出现的频率
#### CBOW: 根据上下文词语预测当前词语出现的频率
#### 词向量的本质是one-hot encoding的低维稠密表示 N->K

In [29]:
from gensim.models.word2vec import Word2Vec

In [30]:
df_train_X['word_seg'].head(5)

0    816903 597526 520477 1179558 1033823 758724 63...
1    90540 816903 441039 816903 569138 816903 10343...
2    816903 1012629 957974 1033823 328210 947200 65...
3    563568 1239563 680125 780219 782805 1033823 19...
4    816903 816903 816903 139132 816903 312320 1103...
Name: word_seg, dtype: object

In [31]:
sentences = list(df_train_X['word_seg'].apply(lambda x: x.strip().split()))

In [32]:
sentences[0]

['816903',
 '597526',
 '520477',
 '1179558',
 '1033823',
 '758724',
 '632718',
 '422098',
 '520477',
 '414956',
 '625597',
 '1203094',
 '441513',
 '596474',
 '660569',
 '995362',
 '924085',
 '1278762',
 '1155376',
 '1109510',
 '823120',
 '1275770',
 '1203094',
 '520477',
 '831818',
 '970779',
 '1179558',
 '758724',
 '1033823',
 '367432',
 '995362',
 '340401',
 '599826',
 '520477',
 '907218',
 '1080651',
 '99188',
 '188983',
 '1238335',
 '264536',
 '834740',
 '321830',
 '327386',
 '469755',
 '295102',
 '520477',
 '106993',
 '663234',
 '670118',
 '566120',
 '960860',
 '1033823',
 '1032772',
 '528558',
 '1108771',
 '643003',
 '520477',
 '1191581',
 '560181',
 '335962',
 '1276143',
 '995362',
 '748896',
 '776840',
 '910464',
 '520477',
 '707234',
 '235866',
 '1113816',
 '814750',
 '636128',
 '520477',
 '1241273',
 '756099',
 '658505',
 '477703',
 '520477',
 '653967',
 '627858',
 '147022',
 '572824',
 '995362',
 '816903',
 '566120',
 '1255841',
 '785043',
 '1025743',
 '197563',
 '990423',
 '816903',
 '6562',
 '1000483',
 '520477',
 '426552',
 '876555',
 '812998',
 '1071452',
 '965650',
 '54111',
 '1145850',
 '1194044',
 '885827',
 '683784',
 '1181092',
 '1278762',
 '520477',
 '717686',
 '527096',
 '33842',
 '858507',
 '995362',
 '473420',
 '1245422',
 '966562',
 '430183',
 '520477',
 '488550',
 '569876',
 '113299',
 '944337',
 '796858',
 '386932',
 '520477',
 '1161095',
 '1188752',
 '490535',
 '635442',
 '411707',
 '881493',
 '520477',
 '183528',
 '1112816',
 '796858',
 '454003',
 '129186',
 '960860',
 '175827',
 '520477',
 '244780',
 '272645',
 '520477',
 '1097161',
 '984580',
 '69103',
 '969033',
 '520477',
 '796858',
 '300241',
 '351200',
 '834740',
 '995362',
 '816903',
 '426552',
 '988628',
 '386932',
 '520477',
 '698094',
 '129186',
 '959270',
 '792049',
 '520477',
 '604424',
 '300241',
 '454003',
 '278563',
 '765514',
 '825039',
 '335962',
 '566120',
 '1255841',
 '520477',
 '857269',
 '54111',
 '1105164',
 '1077959',
 '1033823',
 '1043187',
 '874881',
 '520477',
 '1130795',
 '825039',
 '174851',
 '1025743',
 '788544',
 '990423',
 '1033823',
 '827281',
 '520477',
 '1067170',
 '501097',
 '186268',
 '814120',
 '685144',
 '920327',
 '93759',
 '520477',
 '852447',
 '526374',
 '257284',
 '732050',
 '1253782',
 '437702',
 '520477',
 '1025743',
 '100833',
 '701424',
 '610495',
 '834740',
 '63641',
 '1207362',
 '197563',
 '1033823',
 '38841',
 '862457',
 '520477',
 '712778',
 '275539',
 '918421',
 '248537',
 '834740',
 '1080166',
 '1152016',
 '995362',
 '990423',
 '816903',
 '266784',
 '196698',
 '966562',
 '520477',
 '53796',
 '78141',
 '587327',
 '1033823',
 '1255841',
 '520477',
 '264512',
 '1051868',
 '177456',
 '948160',
 '995362',
 '990423',
 '426552',
 '386932',
 '520477',
 '1066992',
 '792049',
 '520477',
 '796858',
 '808039',
 '427992',
 '808039',
 '1100422',
 '520477',
 '110130',
 '1121767',
 '461074',
 '346125',
 '313684',
 '718788',
 '1200054',
 '920327',
 '1145850',
 '204057',
 '825039',
 '520477',
 '944337',
 '887156',
 '335962',
 '827281',
 '520477',
 '626786',
 '501097',
 '1163362',
 '803388',
 '655939',
 '520477',
 '828892',
 '197563',
 '643316',
 '995362',
 '205402',
 '858304',
 '520477',
 '426552',
 '78141',
 '1188445',
 '39765',
 '1207796',
 '519560',
 '520477',
 '110130',
 '719711',
 '100833',
 '278563',
 '1083687',
 '808533',
 '995362',
 '816903',
 '718123',
 '327386',
 '469755',
 '1191581',
 '560181',
 '816903',
 '1115067',
 '792049',
 '520477',
 '1145850',
 '495141',
 '266887',
 '12453',
 '141834',
 '131275',
 '1073687',
 '995362',
 '748896',
 '1073687',
 '520477',
 '986447',
 '1040672',
 '1051868',
 '834740',
 '752874',
 '190034',
 '1106197',
 '346935',
 '425511',
 '1002773',
 '1043618',
 '25407',
 '520477',
 '54111',
 '1113816',
 '718123',
 '327386',
 '469755',
 '1191581',
 '560181',
 '431249',
 '1276143',
 '1033823',
 '237665',
 '995362',
 '106993',
 '237665',
 '567228',
 '911694',
 '9604',
 '268051',
 '920327',
 '1001167',
 '535072',
 '345864',
 '920327',
 '81687',
 '729583',
 '920327',
 '1240292',
 '1251733',
 '920327',
 '683784',
 '1257015',
 '806785',
 '69240',
 '995362',
 '816903',
 '816903',
 '54111',
 '230580',
 '834740',
 '106993',
 '663234',
 '1033823',
 '587327',
 '1203332',
 '920327',
 '1017369',
 '546577',
 '526298',
 '716116',
 '860795',
 '958317',
 '792049',
 '520477',
 '473420',
 '999378',
 '966562',
 '426716',
 '599826',
 '520477',
 '495141',
 '1142343',
 '936291',
 '190034',
 '920327',
 '1200054',
 '920327',
 '1145850',
 '49805',
 '847972',
 '131275',
 '342077',
 '520477',
 '205592',
 '1022076',
 '860795',
 '830193',
 '1029655',
 '477703',
 '995362',
 '816903',
 '1025743',
 '1042000',
 '1108771',
 '792049',
 '520477',
 '848000',
 '1163183',
 '1181092',
 '532009',
 '862457',
 '520477',
 '404543',
 '305212',
 '834740',
 '288223',
 '244780',
 '995362',
 '990423',
 '1080651',
 '188983',
 '938967',
 '930595',
 '533644',
 '94855',
 '22706',
 '1141728',
 '520477',
 '683784',
 '569876',
 '113299',
 '54111',
 '1181454',
 '41306',
 '325497',
 '520477',
 '965650',
 '54111',
 '60758',
 '885680',
 '743458',
 '1097342',
 '920327',
 '1266863',
 '1279716',
 '625597',
 '920327',
 '144973',
 '515268',
 '216625',
 '596474',
 '26206',
 '295061',
 '1033823',
 '1271263',
 '520477',
 '79262',
 '752874',
 '566120',
 '960860',
 '490535',
 '1032772',
 '520477',
 '528558',
 '1241273',
 '643003',
 '995362',
 '816903',
 '22706',
 '386932',
 '520477',
 '460932',
 '1241273',
 '1255841',
 '346125',
 '292687',
 '792049',
 '520477',
 '106993',
 '663234',
 '1163183',
 '1112816',
 '828892',
 '405687',
 '15321',
 '1033823',
 '830193',
 '824395',
 '430076',
 '825039',
 '1033823',
 '1025743',
 '788544',
 '990423',
 '827281',
 '520477',
 '857269',
 '1121767',
 '758201',
 '825039',
 '1033823',
 '1255841',
 '346125',
 '186048',
 '707506',
 '1033823',
 '1255841',
 '346125',
 '520477',
 '162383',
 '1241273',
 '186268',
 '814120',
 '197563',
 '49805',
 '723492',
 '995362',
 '816903',
 '1082097',
 '520477',
 '1146383',
 '1077959',
 '139404',
 '878073',
 '1241273',
 '1025743',
 '253930',
 '923659',
 '990423',
 '520477',
 '541144',
 '287496',
 '1080587',
 '680465',
 '1146784',
 '1128160',
 '1177527',
 '520477',
 '1130795',
 '793816',
 '1067170',
 '99032',
 '1033823',
 '525932',
 '407475',
 '682882',
 '596474',
 '49805',
 '1033823',
 '38841',
 '862457',
 '995362',
 '1025743',
 '386932',
 '460600',
 '1131493',
 '1033823',
 '47463',
 '520477',
 '568277',
 '19054',
 '478371',
 '967191',
 '277558',
 '995362',
 '990423',
 '816903',
 '1066992',
 '792049',
 '520477',
 '106993',
 '663234',
 '79262',
 '1880',
 '752523',
 '69219',
 '232680',
 '1102131',
 '520477',
 '287496',
 '495157',
 '1266317',
 '190034',
 '1170849',
 '346935',
 '425511',
 '196494',
 '263278',
 '920327',
 '1251733',
 '1097942',
 '263278',
 '920327',
 '683784',
 '241437',
 '263278',
 '920327',
 '793816',
 '1025743',
 '788544',
 '990423',
 '655002',
 '263278',
 '816903',
 '1033823',
 '1240790',
 '290616',
 '995362',
 '129533',
 '889228',
 '520477',
 '658131',
 '490774',
 '422098',
 '816903',
 '608182',
 '1226448']

In [ ]:
train_model = Word2Vec(sentences=sentences, size=300, window=5, min_count=5, workers=4, sg=0, iter=5)

#### LogisticRegression

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(train_X['word_seg'], train_y)
prediction = lr.predict(test_X['word_seg'])
accuracy_score(test_y, prediction)

#### SVM

In [ ]:
from sklearn.svm import SVC

svc = SVC()
svc.fit(train_X['word_seg'], train_y)
prediction = svc.predict(test_X['word_seg'])
accuracy_score(test_y, prediction)